/* @import '../bootstrap/scss/bootstrap.scss'; */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  .container-login {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #7e8893;
    border-radius: 5px;
  }

  .table{
      width: 68%;
      margin: 30px auto;
      border: 0.5px solid grey;
      text-align: center;
      line-height: 1.5
  }

  .input-amount {
      width: 200px;
      float: left;
      margin-right: 20px;
  }

  .table-amount {
      min-width: 425px;
      text-align: left;
      line-height: 12px
  }

  .table-amount > tr > td {
      border: 0.2px solid #7e8893
  }

  .label-currname {
      font-size: 16px;
      font-weight: bold;
  }

  .label-detail-curr {
      font-size: 12px;
  }

  .label-detail-curr2 {
    font-size: 10px;
    color: #7e8893;
}

  .label-amount {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 12px;
      float: right;
  }

  .font-size--12 {
      font-size: 12px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .wd--150 {
      width: 150px
  }

  .wd--80 {
      width:80px;
  }

.mw--200 {
    min-width:200px;
}

  .icon-24x24 {
      width: 24px;
      height: 24px;
  }

  .detil-tbl {
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 0.5px #ddd;
    overflow: hidden;
}

.detil-tbl>.table-responsive {
    border-top-right-radius: 5px;
    border-bottom: solid 0.5px #ddd;
    border-right: solid 0.5px #ddd;
    box-shadow: none;
}

.add-row {
    text-align: center;
    border: 1.5px dashed #b8c1cc;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 14px;
    margin-left: 14px;
    padding-bottom: 10px;
}

.btn-add-row button {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    border-color: #b8c1cc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.hidden {
    display: none !important;
}

.required {
    color: red;
}

.content--table {
    width: 100%;
    background-color: white;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    border-radius: 5px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.table-hover>tbody>tr:hover {
    background-color: #e7ecf3;
}

.dynamic-header-table>tr>th {
    padding-top: 9px;
    padding-bottom: 8px;
}

.pl--25 {
    padding-left: 25px;
}

.pr--25 {
    padding-right: 25px;
}

.p--25 {
    padding: 25px
}

.input-type {
    width: 100%;
    height: 32px;
    font-weight: normal;
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 1px #000000;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 1px 13px 1px 14px;
    color: #000000;
    border: solid 0.5px #b8c1cc;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: left;
        &:focus{
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(65, 154, 255, 0.6);
            border: solid 0.5px #419aff;
        }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#b8c1cc;
    }
    &::-moz-placeholder { /* Firefox 19+ */
    color:#b8c1cc;
    }
    &:-ms-input-placeholder { /* IE 10+ */
    color:#b8c1cc;
    }
    &:-moz-placeholder { /* Firefox 18- */
    color:#b8c1cc;
    }
}
.input-type[disabled]{
    background-color: #e7ecf3; 
    color:  #7e8893;
    border: none;
}

.col-width-10{
    width:10%
}

.input-error{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(240, 46, 55, 0.23) !important;
    border: solid 0.5px #f02d37 !important;
}

.div-body {
    width: 90%;
    margin: 50px auto;
    border: 0.1px solid #efefef;
}

.div-reference {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}