/* @import '../bootstrap/scss/bootstrap.scss'; */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  .container-login {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #7e8893;
    border-radius: 5px;
  }

  .table{
      width: 68%;
      margin: 30px auto;
      border: 0.5px solid grey;
      text-align: center;
      line-height: 1.5
  }

  .input-currency {
      width: 200px;
      float: left;
      margin-right: 20px;
  }

  .table-currency {
      min-width: 425px;
      text-align: left;
      line-height: 12px
  }

  .table-currency > tr > td {
      border: 0.2px solid #7e8893
  }

  .label-currname {
      font-size: 16px;
      font-weight: bold;
  }

  .label-detail-curr {
      font-size: 12px;
  }

  .label-detail-curr2 {
    font-size: 10px;
    color: #7e8893;
}

  .label-amount {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 12px;
      float: right;
  }